---
// This is the new button component with the Apple logo
---
<a
  href="#"
  class="inline-flex items-center justify-center bg-light-900 text-dark-900 px-6 py-3 rounded-lg font-semibold text-lg hover:bg-light-700 transition-colors duration-200"
>
  <img src="/Apple_logo_black.svg" alt="Apple Logo" class="w-5 h-5 mr-3" />
  Herunterladen
</a> 