---
// This is the new button component with the Apple logo
---
<a
  href="#"
  class="inline-flex items-center justify-center bg-light-900 text-dark-900 px-6 py-3 rounded-lg font-semibold text-lg hover:bg-light-700 transition-colors duration-200"
>
  <svg class="w-6 h-6 mr-3" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16.142,4.239A5.83,5.83,0,0,0,12.2,6.7a5.53,5.53,0,0,0-3.832,1.876,10.6,10.6,0,0,0-2.33,7.1,7.2,7.2,0,0,0,4.86,6.9,6.58,6.58,0,0,0,3.52.263,6.6,6.6,0,0,0,3.312-1.631,10.61,10.61,0,0,0,2.1-6.887A8.12,8.12,0,0,0,16.142,4.239ZM13.34,19.388a4.13,4.13,0,0,1-1.875-.7,4.36,4.36,0,0,1-1.428-1.928,10.74,10.74,0,0,1-.536-4.25,6.52,6.52,0,0,1,2.027-4.91,4,4,0,0,1,3.018-1.321,4.21,4.21,0,0,1,2.6.9,0.27,0.27,0,0,0,.322-.031,0.28,0.28,0,0,0,.1-.383,8.44,8.44,0,0,0-3.344-2.157,6.83,6.83,0,0,0-5.521,1.6,7.57,7.57,0,0,0-2.678,6.23,12.16,12.16,0,0,0,3.143,8.39,6.49,6.49,0,0,0,4.719,2.4,10.29,10.29,0,0,0,4.031-1.2,0.29,0.29,0,0,0,.157-.4,0.28,0.28,0,0,0-.4-.1A4.14,4.14,0,0,1,13.34,19.388Z"/></svg>
  Herunterladen
</a> 